{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscription | Flexibank{% endblock %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('css/client/step2.css') }}" />

{% endblock %}

{% block body %}

<nav>
    <button class="back-arrow" onclick="window.history.back();">
        <i class="fas fa-arrow-left"></i> Étape précédente
    </button>
    
    <h1>Flexibank</h1>
</nav>

<h1>Votre profession</h1>
{{ form_start(form) }}
    {{ form_widget(form.profession, {'attr': {'placeholder': 'Veuillez sélectionner votre profession'}}) }}
    <button type="submit">Suivant</button>
{{ form_end(form) }}

{% endblock %}
